.item:hover {
  cursor: pointer;
}

.searchArea {
  height: 100px;
  color: white;
}

.dropdownItem {
  width: 275px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 3px;
  padding: 5px;
  text-align: center;
  background-color: #1f2222;
  border-radius: 5px;
}

.dropdownItem:hover {
  cursor: pointer;
  background-color: #272b2b;
}

.dropdownMenu {
  width: 115px;
  text-align: left;
}

.filterControlArea {
  color: white;
  height: 115px;
  background-color: #212529;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.itemTable {
  table-layout: fixed;
}

.nameCol {
  width: 2rem !important;
}

.managerCol {
  width: 2rem !important;
}

.descCol {
  width: 7rem !important;
}

.qtyCol {
  width: 1.5rem;
  text-align: center;
}

.delCol {
  width: 2rem;
}

.colItem {
  text-align: center;
}

.dropdownDiv {
  height: 400px;
  overflow-y:auto
}

